body{
  background-color: #B1BCE4;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

header{
  text-align: center;
  background-color: #D6D9E6;
  padding: 20px;
}

.albumArt{
  border-radius: 10px;
}

main {
  max-width: 100%;
  padding: 0px 20px;
}

main p{
  padding: 5px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

.column1 {
  float: left;
  box-sizing: border-box;
  padding: 10px;
}

.left{
  max-width: 24%;
  overflow: hidden;
  box-sizing: border-box;

}

.right{
  max-width: 74%;
  box-sizing: border-box;
}


/* Clear floats after the columns */

.row1:after {
  content: "";
  display: table;
  clear: both;
}

.row2{
  width: 100%;
  margin: 20px 0 20px 0;
}

.row2:after{
  content: "";
  display: table;
  clear: both;
}

.column2{
  border: 4px dashed rgba(0,0,0,.2);
  padding: 10px;
  background-color: lightgray;
  float: left;
  margin-left: 20px;
  width: 15%;
  box-sizing: border-box;
  cursor: pointer;
  overflow: hidden;
}

.column2:hover{
  border-color: rgba(0,0,0,.4);
  background-color: silver;
}

.column2:first-child{
  margin-left: 10px;
}



footer{
  background-color: #D6D9E6;
  padding: 20px;
}

footer p {
  margin:0;
}

footer a:hover{
  color: black;
}
