body{
  background-color: #B1BCE4;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

header{
  text-align: center;
  background-color: #D6D9E6;
  padding: 20px;
}

.albumArt{
  border-radius: 10px;
}

main {
  max-width: 800px;
  padding: 0px 20px;
}

main p{
  padding: 5px;
}

h1{
  font-size: 50px;
}

h2{
  font-size: 30px;
}

footer{
  background-color: #D6D9E6;
  padding: 20px;
}

footer p {
  margin:0;
}

footer a:hover{
  color:  #D6D9E6;
}

.column {
float: left;
}

.left {
  width: 30%;
}

.right {
  width: 70%;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
